@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* Variabili globali */
:root {
  --font-family-poppins: 'Poppins', sans-serif;
  --font-family-dm-sans: 'DM Sans', sans-serif;
  --font-family-sen: 'Sen', sans-serif;

  /* Nuova palette colori */
  --bs-primary: #ffffff; /* Blu notte profondo */
  --bs-secondary: #000000; /* Bianco luminoso */
  --bs-accent: #484848; /* Oro caldo */
  --bs-soft: #707070; /* Lavanda chiaro */
  --bs-text: #000000; /* Grigio grafite */

  /* Personalizzazioni bottoni */
  --bs-btn-primary-bg: var(--bs-primary);
  --bs-btn-primary-border-color: var(--bs-primary);
  --bs-btn-primary-color: white;
  --bs-btn-primary-hover-bg: var(--bs-secondary);
  --bs-btn-primary-hover-color: var(--bs-primary);
  --bs-btn-secondary-bg: var(--bs-secondary);
  --bs-btn-secondary-border-color: var(--bs-primary);
  --bs-btn-secondary-color: var(--bs-primary);
  --bs-btn-secondary-hover-bg: var(--bs-primary);
  --bs-btn-secondary-hover-color: white;

  /* Personalizzazioni accordion */
  --bs-accordion-active-bg: #f8f9fa;  /* Colore di sfondo per l'accordion attivo */
  --bs-accordion-btn-focus-box-shadow: none;  /* Rimuove il bordo evidenziato */
}

/* Tipografia */
body, h1, h2, h3, p {
  font-family: var(--font-family-poppins);
  color: var(--bs-text);
}

/* Navbar */
.navbar {
  font-family: var(--font-family-poppins);
  background-color: var(--bs-primary);
}

.navbar .navbar-brand {
  font-family: var(--font-family-poppins);
  font-size: 1.5rem;
}

.navbar .navbar-brand img {
  width: auto;
  height: 30px;
}

.navbar .nav-link {
  font-family: var(--font-family-poppins);
  color: var(--bs-soft);
}

.navbar .nav-link:hover {
  color: var(--bs-accent);
}

.navbar .dropdown-menu {
  font-family: var(--font-family-poppins);
}

/* Footer */
.footer {
  background-color: var(--bs-primary);
  color: var(--bs-secondary);
}

.footer .footer-logo {
  width: 100%;
  max-width: 300px;
}

/* Bottoni */
.btn-custom-primary {
  background-color: var(--bs-primary);
  color: white;
  border: 1px solid var(--bs-primary);
}

.btn-custom-primary:hover {
  background-color: var(--bs-secondary);
  color: var(--bs-primary);
  border: 1px solid var(--bs-primary);
}

.btn-custom-secondary {
  background-color: var(--bs-secondary);
  color: var(--bs-primary);
  border: 1px solid var(--bs-primary);
}

.btn-custom-secondary:hover {
  background-color: var(--bs-primary);
  color: var(--bs-secondary);
  border: 1px solid var(--bs-primary);
}


/* Heroes */
.hero-img-bg {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.hero-img-bg .hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.hero-img-bg .hero-overlay-white {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* Bianco semi-trasparente */
  z-index: -1;
}

.hero-100hv {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.hero-100hv .hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.hero-100hv .hero-overlay-black {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Nero trasparente */
  z-index: -1;
}

.hero-100hv .hero-overlay-white {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7); /* Bianco trasparente */
  z-index: -1;
}

.hero-parallax {
position: relative;
width: 100%; /* Full height */
overflow: hidden; /* Prevent overflow due to image fixed positioning */
}

.hero-parallax .hero-bg-image {
position: fixed;
top: 0;
left: 0;
width: 100%; /* Copre l'intera sezione */
height: 100%;
object-fit: cover; /* Coperature dell'immagine */
z-index: -4; /* Assicura che l'immagine venga posizionata dietro al contenuto */
}

.hero-parallax .hero-content {
position: relative;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100%;
text-align: center;
}

.hero-parallax h2 {
font-family: 'Poppins', sans-serif;
color: white;
font-size: 2.5rem; /* Ajusta la dimensione del testo secondo le necessità */
margin: 0;
}

.hero-parallax p {
  font-family: 'Poppins', sans-serif;
  color: white;
  }

.hero-parallax::after {
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: hsl(267, 46%, 19%); /* Rosa trasparente */
z-index: -5;
}




.cookie-consent {
z-index: 1050;
border-top: 3px solid #0d6efd;

.btn {
    border-radius: 0.25rem;
}
}

.badge-custom {
  background-color: #3e8add;
  color: #ffffff; /* Testo bianco per contrasto */
}
.text-custom {
  color: #3e8add;
}
.bg-gray-blue-gradient {
  background: linear-gradient(135deg, #6c757d 50%, #007bff 50%);
}






.custom-card-section {
  display: flex;
  align-items: center;
  justify-content: end;
  padding-top: 10px;
  border-radius: 5px;
}

.custom-card {
  background: transparent;
  border: 1px solid #6c757d; /* Bordo grigio */
  min-height: auto; /* Rimuove altezza fissa */
  display: flex;
  align-items: center; /* Allinea il contenuto verticalmente */
  justify-content: center;
  padding: 0.5rem 1rem; /* Riduce il padding per dare un effetto di scheda */
  transition: background-color 0.3s ease;
}

.custom-card-body {
  padding: 0; /* Rimuove il padding interno del body */
}

.custom-card.active {
  background-color: #6c757d !important; /* Grigio scuro per lo sfondo della scheda attiva */
  border-color: #6c757d !important;
}

.custom-card a {
  color: white;
  text-decoration: none;
}

.custom-card:hover {
  background-color: #adb5bd !important; /* Leggero grigio al passaggio del mouse */
}



.head-navbar {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(135deg, #6c757d 50%, #d63384 50%);
  background-size: 200%; /* Ensures the gradient is static across the width */
  background-position: center;
}


/* Definizione dei colori personalizzati */
.text-purple {
color: #6f42c1; /* Viola (lavanda) */
}

.text-pink {
color: #d63384; /* Rosa (ciliegio) */
}


/* Elementi testuali */
.text-custom {
  color: var(--bs-primary);
}

.text-accent {
  color: var(--bs-accent);
}

.text-soft {
  color: var(--bs-soft);
}

/* Stili specifici per l'immagine con classe custom-image */
.about-image {
  max-width: 100%; /* L'immagine non supererà mai il 100% della larghezza del contenitore */
  height: auto; /* Mantiene le proporzioni originali dell'immagine */
}

/* Opzionale: Se vuoi che l'immagine sia centrata e ridimensionata solo su mobile */
@media (max-width: 768px) {
  .about-image {
    width: 100%; /* L'immagine occupa tutta la larghezza disponibile su schermi piccoli */
    height: auto;
  }
}


/* Applica le classi Bootstrap alle tabelle generate da Markdown */
table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border: 1px solid #dee2e6;
  border-collapse: collapse;
}

table th, table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

table th {
  text-align: left;
  background-color: #f8f9fa;
}

table .table-striped tbody tr:nth-of-type(odd) {
  background-color: #f2f2f2;
}

table .table-bordered {
  border: 1px solid #dee2e6;
}


blockquote {
  border-left: 5px solid #007bff; /* Linea laterale blu per evidenziare */
  background-color: #f8f9fa; /* Colore di sfondo chiaro */
  padding: 25px 30px; /* Maggiore spaziatura interna */
  margin: 20px 0; /* Margine per separare il blockquote dal resto del testo */
  font-style: italic; /* Testo in corsivo per un tocco elegante */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Leggera ombra */
}

blockquote p {
  margin-bottom: 0; /* Evita margini extra sotto il testo */
  font-size: 1.5rem; /* Dimensione del font su mobile */
}

blockquote footer {
  text-align: right;
  font-weight: bold;
  color: #007bff; /* Colore per l'autore */
}

@media (min-width: 576px) {
  blockquote p {
    font-size: 2rem; /* Aumenta la dimensione su schermi medio-piccoli */
  }
}

@media (min-width: 768px) {
  blockquote p {
    font-size: 3rem; /* Aumenta ulteriormente la dimensione per schermi più grandi */
  }
}

@media (min-width: 992px) {
  blockquote p {
    font-size: 2rem; /* Grandezza ancora maggiore per desktop */
  }
}

@media (min-width: 1200px) {
  blockquote p {
    font-size: 2rem; /* Grandezza massima su schermi molto ampi */
  }
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table-responsive table {
  width: 100%;
  border-collapse: collapse;
}

.table-responsive::-webkit-scrollbar {
  height: 8px;
}
.table-responsive::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
